@mixin revelatory-typography {
  font-weight: 300;
  font-style: normal;
  font-family: $font-primary;
  color: getColor(text, primary);

  strong {
    font-weight: bold;
  }
}

@mixin revelatory-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-primary;
    float: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding: 0 0 $spacing-s;
    overflow: hidden;
  }

  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-bottom: $spacing-s;
  }
}

@mixin revelatory-hr {
  hr {
    border: 0px;
    height: 1px;
    margin-top: $spacing-s;
    margin-bottom: $spacing-s;
    color: getColor(text, primary);
    background-color: getColor(text, primary);
  }
}

@mixin revelatory-blockquote {
  blockquote {
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $spacing-m;
    margin-bottom: $spacing-m;
    position: relative;
    padding-left: 2ch;
    overflow: hidden;

    &:after {
      content: '>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>';
      white-space: pre;
      position: absolute;
      top: 0;
      left: 0;
      font-size: typeScale(1);
      line-height: 1lh;
    }
  }
}

@mixin revelatory-paragraph {
  word-wrap: break-word;

  p {
    float: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1lh;
  }
}

@mixin revelatory-list {
  ul,
  ol {
    margin-top: $spacing-m;
    margin-bottom: $spacing-m;
    padding: 0;
  }

  li {
    position: relative;
    display: block;
    padding-left: 4ch;

    p {
      margin-bottom: 0.5lh;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  ul > li:after {
    content: '*';
  }

  ol {
    counter-reset: ol;
  }

  ol > li:after {
    content: counter(ol) '.';
    counter-increment: ol;
  }
}
