<header row>
  <hgroup class="masthead" grid>
    <h2 class="title" column="m-7 s-12">
      <a href="/">{{ site.title }}</a>
    </h2>
    <nav column="m-5 s-12">
      <ul class="menu" grid="row">
        <li class="menu__item" column>
          <a href="/" title="Go to Writings">
            Writings
          </a>
        </li>
        <li class="menu__item" column>
          <a href="/about" title="Go to About">
            About
          </a>
        </li>
        <li class="menu__item" column>
          <a href="mailto:revelatory@gmail.com" title="Email Mike Powell">
            Email
          </a>
        </li>
        <li class="menu__item" column>
          <a href="https://twitter.com/sternlunch" title="Go to Mike Powell's Twitter">
            Twitter
          </a>
        </li>
      </ul>
    </nav>
  </hgroup>
  <hr />
</header>
