<header row>
  <hgroup class="masthead" grid="center">
    <h2 class="title" column="8">
      <a href="/">{{ site.title }}</a>
    </h2>
    <ul class="menu" column="4" grid="center">
      <li class="menu__item" column>
        <a href="/" title="Go to Writings">
          Writings
        </a>
      </li>
      <li class="menu__item" column>
        <a href="/about" title="Go to About">
          About
        </a>
      </li>
      <li class="menu__item" column>
        <a href="mailto:revelatory@gmail.com" title="Email Mike Powell">
          Email
        </a>
      </li>
      <li class="menu__item" column>
        <a href="https://twitter.com/sternlunch" title="Go to Mike Powell's Twitter">
          Twitter
        </a>
      </li>
    </ul>
  </hgroup>
  <hr />
</header>
