.svg-envelope {
	background: url("svg/sprite.css-783064e8.svg") 0 0 no-repeat;
}

.svg-envelope-dims {
	width: 512px;
	height: 512px;
}

.svg-twitter {
	background: url("svg/sprite.css-783064e8.svg") 100% 0 no-repeat;
}

.svg-twitter-dims {
	width: 512px;
	height: 512px;
}

