header {
  hgroup {
    padding: 0.5lh 0;
  }

  .masthead {
    align-items: flex-start;

    @media (--medium) {
      align-items: center;
    }
  }

  .title {
    font-family: $font-primary;
    font-size: typeScale(8);

    a,
    a:hover {
      color: getColor(text, heading);
    }
  }

  .menu {
    list-style: none;
  }

  .menu__item {
    font-size: typeScale(3);
    line-height: 1.5lh;
    display: inline-block;
  }

  hr {
    margin: 0;
  }
}
