.post {
  @include revelatory-paragraph();
  @include revelatory-headings();
}

.post-teaser {
  margin-bottom: $spacing-m;
}

.post-image {
  img {
    width: 100pr;
    height: auto;
  }
}

p.post-meta {
  border: 1px dashed;
  padding: 0.5lh;
}

.post-heading {
  a:after {
    content: ' ->';
  }
}
